
.scene {
  position: relative;
  width: min(100%, 440px);
  height: 280px;
  margin: 0 auto;
  isolation: isolate;
}


/* --------------------------------
   Responsive
-------------------------------- */

@media (max-width: 520px) {
  .scene {
    width: 100%;
    height: 250px;
  }
}
@media (max-width: 390px) {
  .scene {
    height: 235px;
  }
}

