/* .scene {
  position: relative;
  width: min(100%, 420px);
  height: clamp(220px, 28vw, 270px);
}

@media (max-width: 600px) {
  .scene {
    width: 100%;
    max-width: 360px;
    height: clamp(205px, 58vw, 260px);
  }
} */